<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
    >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <main class="container my-4" layout:fragment="content">
        <div class="card">
            <h5 class="card-header">
                <a th:href="@{/patient}" class="btn btn-sm btn-primary">ajouter patient</a>
            </h5>
            <div class="card-body">
                <h5 class="card-title">patients</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th> <th>Nom</th> <th>date naissance</th> <th>malade</th> <th>score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="patient : ${patients}">
                            <td th:text="${patient.id}"></td>
                            <td th:text="${patient.nom}"></td>
                            <td th:text="${patient.dateNaissance}"></td>
                            <td th:text="${patient.malade}"></td>
                            <td th:text="${patient.score}"></td>
                            <td style="width: 20px">
                                <a th:href="@{'/patient/'+${patient.id}}"
                                   class="btn btn-sm btn-warning">update</a>
                            </td>
                            <td style="width: 20px">
                                <form th:action="@{'/deletePatient/'+${patient.id}}" method="post">
                                    <button class="btn btn-sm btn-danger">delete</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

</body>
</html>